# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore temporary files and directories
.tmp/
.temp/
*.tmp
*.swp
*.swo
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files and directories
.vscode/
.idea/
*.iml
*.sublime*
*.code-workspace
